.suggestion{
    cursor: pointer;
     border-bottom: 1px solid rgb(207, 206, 206);
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.4rem;
   
}

.suggestion:last-child{
    border-bottom: none;
}

.suggestion:hover{
    background-color: grey;
}

.suggestionDiv{
    margin-top:0.7rem;
    overflow-y:auto;
    max-height: 20rem;
    position: absolute;
    z-index: 10;
    width: 45%;
    left: 0;

}



/* .jobTitleHeading{
    padding-top: 1rem;
    padding-right: 13.5rem;
    margin-bottom: 0rem;
} */

@media (max-width: 767.98px){
  
    .jobTitleHeading{
      
        text-align: start;
        padding-left: 1rem;
        padding-top: 1rem;

    }

}
@media (max-width: 575.98px) {
    .suggestionDiv{
        width: 100%;
        position: absolute;
        top:59px;
        left: 0;
    }
    .jobTitleHeading{
        padding-top: 1rem;
        padding-right: 13.5rem;
        margin-bottom: 0rem;
    }
} 