.suggestion{
    cursor: pointer;
     border-bottom: 1px solid black;
    /* border-right: 1px solid black;
    border-left: 1px solid black;  */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.4rem;
   

}

.suggestion:last-child{
    border-bottom: none;
}

.suggestion:hover{
    background-color: grey;
}

.suggestionDiv{
    margin-top:0.7rem;
    overflow-y:auto;
    max-height: 20rem;
    width:15rem;
}