.seventhSectionAppleButton{
    background-color: #3fdd54;
    opacity: 0.8;
    height:2.3rem;
    width: 10rem;
    border: none;
    border-radius: 3px;
    padding: auto 1rem;
    margin-right: 1rem;
 
}
.seventhSectionAppleButton img{
    
    height: 1.2rem;
}

.seventhSectionAndriodButton{
   background-color: rgb(41, 38, 38);
   height:2.3rem;
   width: 10rem;
   border: none;
   border-radius: 3px;
   padding: auto 1rem;
}

.seventhSectionAndriodButton img{
    
    height: 1.2rem;
}

.imageDiv{
    z-index: -1;
   
}

.imageDiv img{
    height: 100%;
    width: 100%;
}

.contentDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40rem;
    margin-left: 2rem;
}
.contentDiv > span{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 0.8rem;
    opacity: 0.8;
    
}

.contentDiv > h1{
    margin-bottom: 1rem;
}

.downloadAppButtons{
    margin-top: 1rem;
}

.SeventhSectionMainContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contentDiv p:first-of-type{
    font-size: 1.2rem;
    width: 30rem;
}