.sectionEight{
    background-color:#51d462;
    width: 100%;
    position: relative;
    z-index: 1;

}
.sectionEightLi > li{
    display: inline;
    list-style: none;
   
}

.mainContainer{
    display: flex;
    justify-content: space-between;

}

.sectionEightLi *+*{
    padding-left: 2rem;
}

.sectionEightBackground{

    padding-top: 3rem;
    padding-bottom: 3rem;
     margin-top: -3.5rem;
    
    
}


.sectionEightHeading{
    margin-bottom: 0.5rem;
}

.sectionEightHeading + span{
    font-size: 1.2rem;
}

.sectionEightPera{
 font-size: 1.5rem;
 width: 20rem;
 padding-top: 1rem;
 margin-bottom: 1rem;
 font-weight: bolder;
}



@media (max-width: 1024px){

    .sectionEightPera{
    
        width: 16rem;
       
       }
}
@media (max-width: 767.98px) {

    .mainContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.sectionEightHeading{
   font-size: 1.3rem;
   text-align: center;
}
.sectionEightHeading + span{
     text-align: center;
     display: block;

}
.sectionEightPera{
 font-size: 1.2rem;
 text-align: center;
}
.sectionEightLi *+*{
    padding-left: 5rem;
    margin-top: 1rem;
}
.sectionEightBackground{
    margin-top: 0rem;
}
} 


