.detailform-input {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.detailform-input > input {
  height: 4rem;
  width: 26rem;
  padding: 1rem;
}

.det-form-buttons {
  display: flex;
  justify-content: space-between;
}

.det-formbutton-submit > button {
  padding: 8px 20px 6px;
  background-color: #242429;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
}

.det-form-radios {
  display: flex;
  align-items: center;
}

.det-form-radios > * {
  padding-right: rem;
  margin-left: 0.5rem;
}

.det-form-radios > p {
  font-size: 16.4px;
  font-family: "Roboto", sans-serif;
}

.det-formbutton-disabled > button{
  padding: 8px 20px 6px;
  background-color: #4e4e58;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  opacity: 0.5;
 border: none;
}