.sj-container {
  margin-top: 1rem;
}

.sj-text {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
  margin-top: 1rem;
}

a{
text-decoration: none;
}
.sj-card > h3{
font-family: "Roboto",sans-serif;
font-size: 22px;
font-weight: 700;
}
.sj-text > h4 {
  line-height: normal;
  letter-spacing: -0.27px;
  font-size: 22px;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
}
.sj-text > a {
  color: green;
  text-decoration: underline;
}
.sj-container{
margin: 0;
}

.sj-location {
  display: flex;
  gap: 1rem;
  position: relative;
}
.sj-location > .sj-toward {
  position: absolute;
  right: 0;
  bottom: 3rem;
}

.sj-loc-text > h4{
  font-size: 16px;

}