
.jb-aside-bottom-section {
    background: #3bd55a url(/src/Assets/Job-Board-Assets/Images/bg-box-2.png)
      no-repeat;
    background-size: 180px;
    background-position: 100% 0;
    padding: 20px 15px 25px;
    margin-top: 2rem;
    border-radius: 5px;
  }
  
  .bottom-text > h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.27px;
    font-size: 22px;
  }
  .bottom-text > p {
    width: 12rem;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: normal;
    letter-spacing: -0.1px;
    font-weight: 400;
  }
  
  .jb-bottom-btn > button {
    min-width: 157px;
    font-weight: 700;
    padding: 8px 20px 6px;
    letter-spacing: -0.27px;
    background-color: #1f1f23;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }