.thirdSectionMainContainer {
  background-color: #2aa13a;
  margin-top: -8rem;
  padding: 3rem;
}

.thirdSectionText {
  color: white;
  width: 40rem;
  margin-left: 1.5rem;
}
.headingFontSize {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.thirdSectionText + p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.thirdSectionButton {
  background-color: black;
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  
}

@media (max-width: 320.98px) {
  .thirdSectionMainContainer{
    margin-top: 0rem;
    padding: 0rem;
  
  }
  .thirdSectionText{
    margin-left: 0rem;
  }
  .headingFontSize {
    font-size: 22px;
    /* margin-bottom: 1rem; */
  }

} 
@media (max-width: 575.98px) {
  .thirdSectionMainContainer{
    margin-top: 0rem;
    /* padding: 2rem 2rem 2rem 3.5rem; */
    justify-content: center;
    align-items: center;
  }
  .thirdSectionText{
    margin-left: 0rem;
    width: 17rem;
  }
  .headingFontSize {
    font-size: 22px;
    /* margin-bottom: 1rem; */
  }
 
} 