.sj-container {
    margin-top: 1rem;
  }
  
  .sj-text {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .sj-text > h4 {
    line-height: normal;
    letter-spacing: -0.27px;
    font-size: 22px;
    font-weight: 700;
  }
  .sj-text > a {
    color: green;
    text-decoration: underline;
  }
  .sj-card {
    padding: 29px 40px;
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
    border-radius: 4px;
    color:black;
  }
  .sj-location {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
    position: relative;
  }
  .sj-location > .sj-toward {
    position: absolute;
    right: 0;
    bottom: 2rem;
  }
  