
.sc>*{
    padding: 2rem;
}

.div1 , .div2 ,.div3{

    padding:48px 40px 19px;
font-family: "Oswald",sans-serif;
}

.getLicensedMainContainer{
    padding: 0.7rem;
}

.div3 > h3 , .div1 > h3 ,.div2 > h3{
font-family: "Roboto",sans-serif;
font-weight: 700;
font-size: 22px;
line-height: normal;
    letter-spacing: -.27px;
    font-size: 22px;
}

.div1 span , .div2 span , .div3 span{
margin-left: 16px;

}