.jb-aside {
  width: 22rem;
  margin-right: 3rem;
  float: right;
  margin-top: 3rem;
}

.jb-aside-top-section {
  background: #3bd55a url(/src/Assets/Job-Board-Assets/Images/mobile-bg.png)
    no-repeat;
  background-size: 180px;
  border-radius: 6px;
  background-position: 100% 100%;
  padding: 26px 14px;
  position: sticky;
  z-index: 1;
  top: 0;

}

.jb-aside-top-text > h4 {
  font-family: "Roboto", sans-serif;
  line-height: normal;
  letter-spacing: -0.27px;
  font-size: 22px;
}

.jb-aside-top-text > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: -0.1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.jb-aside-top-end {
  margin-top: 1rem;
}
.jb-form-sec {
  display: flex;
  background-color: white;
  padding: 0.5rem;
}

.jb-form-sec > input {
  border-radius: 4px;
  padding: 0.5rem;
  border: none;
  outline: none;
}

#flag {
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  border-right: 1px solid;
}

#jb-aside-top-btn {
  border-radius: 4px;
  width: 3rem;
  background-color: #58db73;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  cursor: pointer;
}

#jb-aside-top-btn:hover {
  filter: brightness(1.1);
}

.jb-aside-form {
  display: flex;
}

.jb-aside-download-h {
  font-size: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.google {
  margin-top: 2rem;
}
