body {
  font-family: "Roboto", sans-serif;
}

.detail-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.detailCard {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 6px;

  width: 60rem;
  margin-left: 0.5rem;
}
.detailContent {
  margin-top: 1rem;

  margin-top: -0.09rem;
}

/* detail card */
.det-card {
  width: 100%;
  margin: 0;
}

/* detail aside */

.detail-aside {
  width: 38rem;
}

.dt-org-right{
display: flex;
align-items: center;
}
.dt-aside-top-section {
  background: #3bd55a url(/src/Assets/Detail-Page-Assets/Images/mobile-bg.webp);
  background-repeat: no-repeat;
  border-radius: 6px;
  background-size: cover;
  padding: 20px 25px 20px 25px;
  position: relative;
}

#dt-aside-top-btn {
  background-color: #58db73;
  width: 120px;
  height: 47px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  background-color: #3bd55a;
  border-color: #3bd55a;
  font-size: 0.85rem !important;
  font-weight: 700;
}
#dt-aside-top-btn:hover {
  color: #000;
  background-color: #58db73;
  border-color: #4fd96b;
}

#dt-aside-top-btn:focus:active {
  filter: brightness(100%);
}
.dt-aside-top-text > p {
  font-size: 19.2px;
  font-family: "Roboto", sans-serif;
  padding: 8px 0 0;
}
.dt-aside-top-text > h4 {
  font-family: "Oswald", sans-serif;
  line-height: normal;
  font-weight: 700;
  letter-spacing: -0.27px;
  font-size: 28px;
  letter-spacing: -0.42px;
}
.dt-form-sec {
  display: flex;
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  border: 1px solid #5c5c5c;
  border-right-width: 0;
  align-items: center;
}
.dt-form-sec > input {
  width: 100%;
  border-radius: 4px;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.dt-aside-download-h {
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  margin: 48px 0 8px;
  padding: 16px 0 0;
  font-weight: 700;
  line-height: 1.2;
}

.header-post-job-for-detail {
  display: none;
}

.accordion {
  font-weight: 700;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.accordion-item {
  border: none !important;
}

h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.seprator {
  display: none;
}

.dt-card-footer {
  margin: 0 10px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dt-org-col{
margin: 1rem 0 0 0;
}
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
  .detail-container {
    flex-direction: column;
  }
  .detailCard {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  .dt-org-col {
    margin: 1rem 0;
    text-align: center;
  }
  .dt-org-right {
    flex-direction: column;
  }
  .org-right > img {
    margin: 0 0 1rem 0;
  }
  .dropdown {
    top: 3.5rem;
  }
  .dt-card-footer {
    flex-direction: column;
    align-items: start;
    justify-content: start;
  }
  .card-ft-right {
    width: 100%;
    flex-direction: row;
    display: block;
    text-align: left;
  }

  .card-ft-left {
    width: 100%;
    text-align: left;
    border: none;
    display: block;
    padding: 0.5rem 0;
  }
  .seprator {
    display: block;
    border: 0.5px solid;
    width: -webkit-fill-available;
    color: #cfcfcf;
    margin: 0 16px;
  }
  .accordion {
    font-size: 18px;
  }
  .div3 > h3,
  .div1 > h3,
  .div2 > h3 {
    font-size: 18px;
  }
  .dt-card-footer {
    padding: 0;
  }
  .detail-aside {
    width: 100%;
  }
  .dt-aside-top-section {
    background-image: url(https://www.get-licensed.co.uk/jobs/images/cta-dowload-big@2x.webp);
    padding: 30px 20px 10px;
    background-size: contain;
    background-position: 100%, 100%;
  }
  .dt-aside-top-text > p {
    display: none;
  }
  .dt-aside-top-text > h4 {
    font-size: 24px;
  }
  .dt-aside-download-h {
    font-size: 18px;
  }
  .card-ft-right > sup {
    margin-left: 1rem;
  }
  .share {
    right: 1rem;
  }
  #post {
    font-size: 19px;
  }

  .card-ft-left :nth-child(1),
  .card-ft-right:nth-child(1) {
    margin-left: 1.5rem;
  }
  .accordion-button {
    padding: 39px 27px 19px !important;
  }
}
