.filterForm {
  margin-left: 6rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 17rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 3rem;
  border-radius: 0.25rem;
  margin-bottom: 3rem;
}

.filterForm > h5 {
  /* color: green; */
  font-size: 1rem;
  font-weight: lighter;
  padding-left: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.mileRangeHeading {
  padding: 0 1rem 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.venue {
  margin-left: 1rem;
  margin-top: 1rem;
}
.venue > span {
  display: inline-block;
  margin-bottom: 0.8rem;
  margin-left: 0.5rem;
}

.priceRangeDiv {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0.5rem 1rem;
  margin-top: -1rem;
}

.venue * + * {
  margin-bottom: 0.5rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}

.buttonDiv {
  padding-bottom: 1rem;
  align-self: center;
}

.resetFilter,
.applyFilter {
  width: 7rem;
  height: 2rem;
  background-color: #212529;
  color: white;
  border-radius: 0.25rem;
  border: none;
  padding: 0.375rem 0.75rem;
  user-select: none;
  vertical-align: middle;
  margin-top: 1rem;
  align-self: center;
  font-weight: bold;
}

.applyFilter {
  color: #000;
  background-color: #3bd55a;
  margin-left: 0.5rem;
}

hr {
  width: 14rem;
  margin-top: 1rem;
  align-self: center;
  opacity: 0.2;
}

input[type="range"] {
  width: 15rem;
  align-self: center;
}

.payRangeHeading {
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-weight: 100;
}
