.homeFormFields{
   
    display: flex;
    margin-top: 1rem;
    z-index: 100;
    position: relative;
    justify-content: space-between;
    width: 100%;

}

.homeFormInputs{
     border: none;
     outline: none;
   
}

.homeFormCard{
    display: flex;
    height: 5rem;
    width: 40rem;
    margin-right: -8rem;
    padding: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
   

}


.homeFindJobButton{
    width: 13rem;
    height: 5rem;
    background-color: #51d462;
    margin-left: -8rem;
    position: absolute;
    left: 47rem;
    outline: none;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 3rem;
  


}

.homeFindJobArrow{
    position: absolute;
    left: 47rem;
    top: 1.55rem;
    height: 2rem;
}

.homeJobTitleInputField{
    margin-left: 1rem;
    border-right: 1px solid rgba(127, 127, 127,0.3);
    width: 50%;
    height: 100%;
    font-family: 'Baloo Bhai 2', cursive;
}


.homeLocationInputField{
  margin-left: 2rem;
  width: 50%;
  font-family: 'Baloo Bhai 2', cursive;
}

@media (max-width: 320.98px) {
.homeFormCard{
   display: block;
   background-color: none ;
}
.homeFindJobButton{
    left:9rem;
    top: 16rem;
      width: 21rem;
    height: 4rem;
    font-size: 1.2rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;


 }
 .homeJobTitleInputField{
    margin-top: 5rem;
    margin-left: 0rem;
    width: 21rem;
    background-color: white;

    border-right: none;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 6px;
 }
 .homeLocationInputField{
    margin-top: 1rem;
    margin-left: 0rem;
    width: 21rem;
    background-color: white;
    border-right: none;
    height: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 6px;
 }
 .homeFindJobArrow {
    left: 18rem;
    top: 16.6rem;
    height: 3rem;
 }
  .homeLocationInputField > h4{
   padding-right: 11rem;
   padding-top: 1rem;
   margin-bottom: 0rem;
  }

  .homeFormInputs::placeholder{
       
    color: skyblue;
    padding-bottom: 1rem;
}      
} 
@media (max-width: 575.98px) {
    .homeFormCard{
        display: block;
        background: none ;
        width: auto;
        box-shadow: none;
     }
     .homeFindJobButton{
        left:9rem;
        top: 17rem;
          width: 21rem;
        height: 4rem;
        font-size: 1.2rem;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    

     }
     .homeJobTitleInputField{
        margin-top: 5rem;
        margin-left: 0rem;
        width: 21rem;
        background-color: white;

        border-right: none;
        height: auto;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 6px;
     }
     .homeLocationInputField{
        margin-top: 1rem;
        margin-left: 0rem;
        width: 21rem;
        background-color: white;
        border-right: none;
        height: auto;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        border-radius: 6px;
        padding-bottom: 0.5rem;
      
     }
     .homeFindJobArrow {
        left: 18rem;
        top: 16.6rem;
        height: 3rem;
     }
      .homeLocationInputField > h4{
       padding-right: 11rem;
       padding-top: 1rem;
       margin-bottom: 0rem;
      }

      .homeFormInputs{
           
        padding-right: 5rem;
        
    }      
} 