.backToHome{
    margin-left: 3rem;
    vertical-align: middle;
    
}

.backopt{
text-align: center;
/* border: 2px solid ; */
position: relative;
left: 6rem;
top: .5rem;
display: inline-flex;
}
figure{
    display: inline-block;
}