.backToHome{
    margin-left: 3rem;
    vertical-align: middle;
    
}

.backopt{
text-align: center;
/* border: 2px solid ; */
position: relative;
top: 1rem;
display: inline-flex;
}
figure{
    display: inline-block;
}

figure span{
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}