.mainSubscriberFormContainer{
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.subscribeFormInput{
    height: 2.5rem;
    width: 14rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 3px;
    border: 0.5px solid black;
    outline: none;
    padding-left: 1rem;
}

.subscribeFormInput::placeholder{

    font-family: 'Baloo Bhai 2', cursive;
}

.subscribeFormButton{
    border-radius: 3px;
    height: 2.5rem;
    width: 15rem;
    color: white;
    background-color: rgb(41, 38, 38);
    border: none;
    margin-top: 1rem;

}

.field{
    display: flex;
    flex-direction: column;
}

@media (max-width: 575.98px) {
.mainSubscriberFormContainer{
 flex-direction: column;
}
.subscribeFormInput{
     width: 22rem;
 margin-left: 1rem;
}
.subscribeFormButton{
    width: 22rem;
    margin-left: 1rem;
}
.subscribeFormErrors{
    margin-left: 1rem;
}
} 