.headerSection{
    width: 100%;
    background-color:white;
    box-shadow: 0px 15px 10px -16px #111;   
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;

}

.header-logo img{
    height: 5rem;
}

.header-post-job img{
    margin-top: 1.3rem;
    margin-left: 0.4rem;
}


.header-post-job-text{
    font-size: 0.8rem;
    display: block;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
       
}

@media (max-width: 575.98px){
 

 .header-post-job{
    display: none;
 }

}