body{
  font-family: "Roboto",sans-serif;
  }
.main-heading {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 44px;
  letter-spacing: -0.84px;
  line-height: normal;
  margin:3rem 0 1rem 0;
}
.ls_container {
  text-align: center;
  padding: 1rem 3rem;
}


.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 100%;
min-height: 20;
  height: 22rem;
  max-height: 18rem;
  border-radius: 0.4rem;
  text-align: justify;
  font-family: Oswald, sans-serif;
}

.card-li1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}
.card-li1-headings > :nth-child(2) {
  margin-top: 0.6rem;
  font-weight: 500;
  font-size: 1rem;
}
.card-li1-headings > :nth-child(3) {
  margin-top: 0.5rem;
  font-weight: lighter;
  font-size: 1rem; 
}

.card-li2 {
  padding: 1rem;
  text-align: center;
}
.card-li2-h {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  color: #242429;
font-weight: lighter;
}

.card-li2-h > span {
  font-weight: 800;
  font-size: 2rem;
}

.card-li3 {
  padding: 1rem;
  text-align: center;
}

.card-li3 > a {
  text-decoration: none;
  color: yellowgreen;
  font-size: 1.1rem;
  font-weight: 800;
  font-family: Oswald, sans-serif;
}

.ls_button {
  padding: 1rem;
  margin-top: 2rem;
  background-color: rgb(24, 24, 24);
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 15rem;
  font-size: 1.1rem;
  text-decoration: none;
}




@media (max-width:1198.98px) {
 .card-li1{
padding: .5rem;
}
}

@media (max-width:991.98px){
.ls_container{
padding: 1rem;
}

.react-multi-carousel-list > ul{
padding:  0 0.4rem;
}
}

@media (max-width: 575.98px){
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .react-multi-carousel-list rc-container{
    margin: 0;
    }
    .ls_container {
      padding: 0;
      margin: 0 1rem;
  
  
    }
  
    .ls_container > * + *{
    padding: 1rem;
    }
    .main-heading{
    font-size: 22px;
    margin: 1rem;
    }
   
   #explore-btn{
  padding: 10px;
  }
  
  
    
  
  
  .react-multi-carousel-list > ul
  {
  padding: 0;
  }
}


@media  (max-width: 320px){
  body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .ls_container {
    padding: 0;
    margin: 0 1rem;


  }

  .ls_container > * + *{
  padding: 1rem;
  }
  .main-heading{
  font-size: 22px;
  margin: 1rem;
  }
 
 #explore-btn{
padding: 4px;
border-radius: 1px;
}


  


.react-multi-carousel-list > ul
{
padding: 0;
}
}