.dv-col {
  padding: 0 4rem 0 4rem;
}
.row {
  display: flex;
  flex-direction: row;
flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.8rem;
}
.dv-container {
  padding: 4rem;
}
.dv-heading {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  letter-spacing: -0.3px;
  font-weight: 700;
}

.retail-box,
.corporate-box,
.bar-box,
.event-box,
.mobile-box {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 12rem;
  padding: 1rem 0 1rem 0;
  border-radius: 0.5rem;
  text-align: center;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}
.retail-box > :nth-child(2),
.corporate-box > :nth-child(2),
.bar-box > :nth-child(2),
.event-box > :nth-child(2),
.mobile-box > :nth-child(2) {
  margin-top: 1rem;
  font-size: 1rem;
}

@media (max-width: 320.98px) {
  .dv-col,
  .dv-container {
    padding: 0.5rem;
  }

  .dv-col > .row {
    flex-wrap: wrap;
    align-items: center;
  }
  .dv-col > .row > div{
    width: 8rem;
    }

  .dv-heading {
    font-size: 22px;
    text-align: center;
  }
}

@media only screen and (min-width:320.99px) and (max-width: 575.98px){
  .dv-col,
  .dv-container {
    padding: 0.5rem;
  }

  .dv-col > .row {
    flex-wrap: wrap;
    align-items: center;
  }

  .dv-col > .row > div{
  width: 10rem;
  }

  .dv-heading {
    font-size: 22px;
    text-align: center;
  }


}