.dv-row {
  display: flex;
  flex-wrap: wrap;
}

.dv-container{
  background-color: rgba(245, 245, 245,0.7);
}




.dv-heading {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  letter-spacing: -0.3px;
  font-weight: 700;
}

.dv-li > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.dv-li > ul > li {
  margin: 0;
  padding: 0;
}
.dv-li > ul > li > a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.retail-box,
.corporate-box,
.bar-box,
.event-box,
.mobile-box {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 12rem;
  padding: 1rem 0 1rem 0;
  border-radius: 0.5rem;
  text-align: center;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.retail-box > img,
.corporate-box > img,
.bar-box > img,
.event-box > img,
.mobile-box > img {
  height: 18pxrem;
  width: 20pxrem;
  object-fit: scale-down;
}

.retail-box > :nth-child(2),
.corporate-box > :nth-child(2),
.bar-box > :nth-child(2),
.event-box > :nth-child(2),
.mobile-box > :nth-child(2) {
  margin-top: 1rem;
  font-size: 1rem;
}

/* 
@media (max-width: 1445px) {
  .dv-container {
    padding: 2rem;
  }

  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 10rem;
  }
}

@media (max-width: 1366px) {
  .dv-container {
    padding: 1rem;
  }
  .dv-col {
  }
  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 10rem;
  }
}

@media (max-width: 1199.98px) {
  .dv-container {
    padding: 1rem;
  }
  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 8rem;
  }
}

@media (max-width: 1140px) {
  .dv-container {
    padding: 1rem;
  }
  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 8rem;
  }
}

@media (max-width: 991.98px) {
  .dv-container {
    padding: 1rem;
  }
  .dv-col {
    padding: 1rem;
  }
  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 7rem;
  }
}

@media (max-width: 767.98px) {
  .dv-container {
    padding: 1rem;
  }
  .dv-col {
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  .dv-col > .row {
    display: flex;
    /* flex-direction: column; */
/* justify-content: center;
  
  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 10rem;
  }
}

@media (max-width: 575.98px) {
  .dv-col,
  .dv-container {
    padding: 0.5rem;
    position: relative;
    margin-top: 1rem;
  }

  .dv-col > .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .dv-col > .row > div {
    width: 10rem;
  }

  .dv-heading {
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: -4rem;
  }

  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 10rem;
  }
}

@media (max-width: 360.98px) {
  .dv-col,
  .dv-container {
    padding: 0.5rem;
  }


  .dv-col > .row {
    flex-wrap: wrap;
    align-items: center;
  }
  .dv-col > .row > div {
    width: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .react-multi-carousel-list > ul >li{
  margin-left: 0;
  }
  .dv-heading {
    font-size: 22px;
    text-align: center;
  }
  .retail-box,
  .corporate-box,
  .bar-box,
  .event-box,
  .mobile-box {
    width: 9rem;
  }
} */
