.jobBoardPageMainContainer{
 
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
}





@media(max-width:767.98px){

    .jobBoardPageMainContainer{
    flex-direction: column;
    }
}


@media(max-width:575.98px){

    .jobBoardPageMainContainer{
    flex-direction: column;
    }
}

