.jobBoardPageMainContainer{
 
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100%; */
}




@media  (max-width: 320.98px) {

    .jobBoardPageMainContainer{
flex-direction: column;
    
    }
    } 