.footer {
  background-color: #242429;
}

.ft-container {
  /* padding: 3rem 7rem 3rem 7rem; */
  margin-left: auto;
  margin-right: auto;
  width: 100%rem;
}

.ft-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4rem 0 4rem 0;
  background-color: #242429;
}

.ft-logo {
  width: 180px;
}

ul {
  list-style: none;
}

.ul-a a{
  font-size: 18px;
  font-family: "Roboto",sans-serif;
    font-weight: 200;
    line-height: normal;
    letter-spacing: -.27px;
    color: #fff;
    padding: 1px 0;
 
    text-decoration: none;
}

ul > li {
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.27px;
  color: #fff;
  padding: 1px 0;
  text-decoration: none;
}

ul > * + * {
  margin-top: 1rem;
}
a {
  text-decoration: none;
  color: white;
}

ul > li:first-child {
  color: white;
  font-weight: 700;
}

a:hover {
  text-decoration: underline;
}

ol, ul{
  padding-left: 0rem ;
}

.ft-logo-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
  background-color: #242429;
}

.end-ft-container {
  background-color: #000000;
  padding: 3rem;
}

.end-ft-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end-ft-row > p {
  color: white;
  padding: 0rem;
  font-weight: 700;
  font-size: 1.1rem;
  font-family: Oswald, sans-serif;
}






@media (max-width: 991.98px) {
  .ft-container {
    padding: 2rem;
  }

  .ft-row {
    padding: 1rem;
  }

  .ft-ul {
    margin-top: 1rem;
padding-left: 1rem;
  }

  .ft-ul > li {
    width: 100%;
  }
  .ft-ul > li > a {
    font-size: 18px;
  }

  .ft-ul > li:first-child {
    margin-top: 4rem;
  }

  .ft-logo-row {
  }

  .ft-logo-row * + * {
    margin-top: 1rem;
  }

  .ft-logo-row > img {
    font-size: 4rem;
  }

  .end-ft-container {
    padding: 1rem;
  }
  .end-ft-row {
    flex-direction: column;
    text-align: center;
  }
  .end-ft-row > p {
    font-size: 15px;
  }
}

@media (max-width: 767.98px) {
  .ft-container {
    padding: 2rem;
  }

  .ft-row {
    flex-direction: column;
    padding: 1rem;
  }

  .ft-ul {
    margin-top: 1rem;
  }

  .ft-ul > li {
    text-align: center;
    width: 100%;
  }
  .ft-ul > li > a {
    font-size: 20px;
  }

  .ft-ul > li:first-child {
    margin-top: 4rem;
  }

  .ft-logo-row {
    flex-direction: column;
  }

  .ft-logo-row * + * {
    margin-top: 1rem;
  }
  .end-ft-container {
    padding: 1rem;
  }
  .end-ft-row {
    flex-direction: column;
    text-align: center;
  }
  .end-ft-row > p {
    font-size: 12px;
  }
}

@media (max-width: 320.99px) {
  .ft-container {
    padding: 2rem;
  }

  .ft-row {
    flex-direction: column;
    padding: 1rem;
  }

  .ft-ul {
    margin-top: 1rem;
  }

  .ft-ul > li {
    text-align: center;
    width: 100%;
  }
  .ft-ul > li > a {
    font-size: 15px;
  }

  .ft-ul > li:first-child {
    margin-top: 4rem;
  }

  .ft-logo-row {
    flex-direction: column;
  }

  .ft-logo-row * + * {
    margin-top: 1rem;
  }
  .end-ft-container {
    padding: 1rem;
  }
  .end-ft-row {
    flex-direction: column;
    text-align: center;
  }

  .end-ft-row > p {
    font-size: 12px;
  }
}
