.rc-slider,.rc-slider-rail,.rc-slider-track{
height: 1.5rem;
width: 15rem;
}
.rc-slider-handle{
    height: 32px;
    width: 32px;
    border: 4px solid white;
    background-color: #3bd55a;
    margin-top: -5px;
    border: 2px solid #96dbfa;
    opacity: 1;
}
.rc-slider-disabled .rc-slider-handle {
    border-color: #ccc;
    box-shadow: none;
    background-color: #fff;
    cursor: not-allowed;
}

.rc-slider-handle-dragging{
    border-color: #57c5f7;
    box-shadow: 0 0 0 5px #96dffa;
}
.rc-slider-handle::before{
    background-color: #fff;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}
.rc-rng{
align-self: center;
margin-bottom: 1rem;
}


.rc-slider .rc-slider-track {
    background-color: #242429;
    height: 24px;
}
.priceRangeDiv{
margin-top: 1rem;
}

.rc-slider-disabled .rc-slider-handle {
}
.rc-slider-handle{
margin-top: -6px;
}