
.swiper-button-next,.swiper-button-prev{
  background-color: #e5e5e5;
    border-radius: 50%;
    padding: 40px;
    color: black;
    top: 124px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.13);

}

.swiper-slide{
  width: 420 px !important;
  padding: .5rem;
}

.swiper-pagination{
display: none;
}


.swiper-button-prev:after,.swiper-button-next:after{
font-size: 25px;
font-weight: 700;
opacity: 0.5;
}

.swiper-button-next:after{
  left: 5px;
  position: relative;
}

.swiper-button-prev:after{
  right: 5px;
  position: relative;
}

@media (max-width:767.98px){
  .swiper-button-next,.swiper-button-prev{
display: none;
  }
.swiper-wrapper{
padding-bottom: 4rem;
}
 
      .swiper-pagination{
      display: block;
      }
      
}


@media (max-width:575.98px){
  .swiper-button-next,.swiper-button-prev{
display: none;
  }
  
  .swiper-pagination{
  display: block;
  }
  .swiper-wrapper{
    padding-bottom: 4rem;
    }
 
    .swiper-pagination{
    display: block;
    }
    
}