@font-face {
  font-family: hackneyvector;
  src: url(../../../Assets//Fonts/HackneyPersonalUseOnly.ttf);
}

.section-bg{
  background-color: rgba(245, 245, 245,0.7);
}
.lct-container {
  text-align: center;
  padding: 5rem 0;
}

.imagesDiv{
padding: 1rem 0 0 0;
}

.lct-heading {
  font-family: Oswald, sans-serif;
  font-size: 36px;
  letter-spacing: -0.3px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.london-img,
.machester-img,
.birmingham-img,
.cardiff-img,
.bristol-img,
.leeds-img {
  object-fit: cover;
  width: 100%;
  transition: all 0.3s ease-in;
}

.lct-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.lct-row > * {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.img-box1,
.img-box2,
.img-box3,
.img-box4,
.img-box5,
.img-box6 {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  width: 370px;
  /* -webkit-transition: all 0.3s ease-in; */
}

.img-box1 > img:hover,
.img-box2 > img:hover,
.img-box3 > img:hover,
.img-box4 > img:hover,
.img-box5 > img:hover,
.img-box6 > img:hover {
  transform: scale(1.05);
}

.img-box1-headings,
.img-box2-headings,
.img-box3-headings,
.img-box4-headings,
.img-box5-headings,
.img-box6-headings {
  position: absolute;
  top: 1rem;
  width: 100%;
}

.img-box1-headings > h1,
.img-box2-headings > h1,
.img-box3-headings > h1,
.img-box4-headings > h1,
.img-box5-headings > h1,
.img-box6-headings > h1 {
  font-family: hackneyvector;
  font-size: 5rem;
  color: white;
}

.img-fluid{
height: auto;
max-width: 100%;
}

.img-box1-headings > h3,
.img-box2-headings > h3,
.img-box3-headings > h3,
.img-box4-headings > h3,
.img-box5-headings > h3,
.img-box6-headings > h3 {
  color: white;
  font-family: "Oswald", sans-serif;
  margin-top: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.3px;
}

/* @media (max-width: 320px) {
  .lct-container {
    padding: 0.5rem;
  }

  .lct-heading {
    font-size: 22px;
    margin: 0.5rem 0;
  }

  .lct-row {
    padding: 0 2rem;
  }
  .img-box1,
  .img-box2,
  .img-box3,
  .img-box4,
  .img-box5,
  .img-box6 {
    height: auto;
  }
}


@media (max-width:1600px){

.lct-row{
padding: 0;
}
}

@media only screen and (min-width:320.99px) and (max-width: 575.98px){

  .lct-container {
    padding: 1rem 0;
  }

  .lct-heading {
    font-size: 22px;
    margin: 1rem 0;
  }

  .lct-row {
    padding: 0 2rem;
  }
  .img-box1,
  .img-box2,
  .img-box3,
  .img-box4,
  .img-box5,
  .img-box6 {
    height: 300px;
  }

}


 */


 @media (max-width: 1399.98px) {
.ibox{
  max-width: 313px;
} 
.ibh > h1{
  font-size: 4rem;
} 
 }
@media (max-width: 1199.98px) {  
.ibox{
width: 300px;
}
}
@media (max-width: 991.98px) { 
  .ibox{
    max-width: 250px;
    border: 2px solid;
  
  }
  .lct-row > * + *{
  margin-left: .8rem;
  } 

  .lct-heading{
  font-size: 1.6rem;
  }


}
@media (max-width: 767.98px) {  
  .ibox{
  width: 230px;
  }
.ibh > h1{
font-size: 3rem;
}
}
@media (max-width: 575.98px) {

  .lct-heading{
  font-size: 1.5rem;
  }
}
