.description-div > div >ul >li {

    color: black;
    /* background-color: bisque; */
    font-size: 14px;
    padding: 0 0 10px 20px;
}




.description-div{
padding: 1rem;
}

.description-div >div p > strong{
font-family: "Roboto",sans-serif;
font-size: 16px;
}

/* .description-div >div p:not(strong){
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: -.1px;
} */
.description-div> div:nth-child(2n+1){

    font-size: 1rem;
    line-height: 1.5;
    font-family: "Roboto",sans-serif;
}


.description-div > div > ul >*{
font-family: "Roboto",sans-serif;
font-size: 1rem;
line-height: 1;
}



.description-div > div > ul {

list-style: none;
}

.description-div > div > ul > li::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3bd509;
   position:relative;
   top: 13px;
   right: 18px;
}

