*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.App{
    font-family: 'Oswald', sans-serif;

}
p{
    font-family: 'Baloo Bhai 2', cursive;
}

@media (max-width: 575.98px){
    body{
        overflow-x: hidden ;
    }
}