*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    
}
h4,h5,span{
font-family: "Roboto",sans-serif;
}
h4,h2{
color: black;
}

button{
    font-family: "Roboto",sans-serif !important;

}

.App{
    font-family: 'Oswald', sans-serif;

}
p{
    font-family: 'Baloo Bhai 2', cursive;
}

@media (max-width: 575.98px){
    body{
        overflow-x: hidden ;
    }
}